      .send-button{
        background-color: rgb(25, 123, 84);
        color :white;
        font-size: 15px;
        border: none;
        padding: 12px 20px;
        border-radius: 10px;
        margin-left: 10px;
        cursor: pointer;

      }
      .chat-input{
        padding: 12px 15px;
        border-radius: 10px;
        border: 1px solid #ccc;
        font-size: 15px;
        /* display: flex; */
        flex-grow: 1;
      }
      .chat-input-container{
        display: flex;
        align-items: center;
        justify-content: end;
        margin-bottom: 60px;
        /* margin-top: 20px; */
        /* flex-grow: 1; */
      }